body{
  background-color: lightskyblue;
}

a{
  text-decoration: none;
}

h4{
  font-size: 20px;
  font-family: monospace;
  color: blueviolet;
}

.menu {
  margin-top: 20px;
  margin-left: 80px;
  list-style-type: none;
  position: fixed;
}

.menu > li {
  display: inline;
  margin-right: 150px;
  color: blueviolet;
}

.menu > li:last-of-type {
  margin-left: 0;
}

.about-container{
  font-family: 'Segoe UI', sans-serif;
  font-size: 25px;
  color: grey;
  margin: 5em;
  position: absolute;
  
}

.about-image{
  height: 300px;
  display: flex;
  border-color: lime;
   }

  .text-intro{
    text-align: center;
    color: grey;
  }

